body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --sidebar-width: 9rem;
    --sidebar-color: #112236;
}

.wrapper {
    height: 100vh;
    background: white;
}

.navbar {
    height: 4rem;
}

main {
    height: calc(100% - 4rem);
    display: flex;
}

main > #sidebar {
    background: var(--sidebar-color);
    height: 100%;
    width: var(--sidebar-width);
    background-image: url(../img/sidebar-bg.png);
    background-size: contain;
    color: white;
}

main > #main-content {
    height: 100%;
    width: calc(100% - var(--sidebar-width));
    overflow-y: auto;
    background-color: rgb(241, 241, 241);
}
