/*** HEADER ***/

/** navbar **/
.my-input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(230, 230, 230);
    border: solid rgb(230, 230, 230);
    border-radius: 0.365rem;
}

/** sidebar **/
.hover:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    transition: 0.3s;
    border-radius: .5rem;
}

/*** MAIN ***/
.my-text-bg-primary {
    color: #fff!important;
    background-color: #2C5AB4;
}

.my-text-bg-warning {
    color: white;
    background: rgb(255,193,7);
}



